annotated-types==0.7.0
beautifulsoup4==4.13.4
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
configmypy==0.2.0
contourpy @ file:///croot/contourpy_1732540045555/work
crc32c==2.7.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Deprecated @ file:///work/perseverance-python-buildout/croot/deprecated_1728399012192/work
donfig==0.8.1.post1
filelock==3.18.0
fonttools @ file:///croot/fonttools_1737039080035/work
fsspec @ file:///croot/fsspec_1747117721425/work
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///croot/gmpy2_1738085463648/work
gpytorch==1.14
h5py==3.14.0
idna==3.10
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
iniconfig==2.1.0
jaxtyping==0.3.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.1
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
linear-operator==0.6
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1728396928682/work
networkx @ file:///croot/networkx_1737039604450/work
neuraloperator==1.0.2
numcodecs==0.16.1
numpy @ file:///croot/numpy_and_numpy_base_1747238018250/work/dist/numpy-2.2.5-cp313-cp313-linux_x86_64.whl#sha256=0e0751551faf5084bae97319f1019238122ff4a3eefee4d271cdc73fe7ee20eb
opentelemetry-api @ file:///croot/opentelemetry-api_1743171649300/work
opt_einsum==3.4.0
packaging @ file:///croot/packaging_1734472117206/work
pillow @ file:///croot/pillow_1744613067434/work
platformdirs==4.3.8
pluggy==1.6.0
protobuf==6.31.1
psutil==7.0.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing @ file:///io/buildout/croot/pyparsing_1735862672222/work
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1744804475988/work/pyqt_sip
PySocks==1.7.1
pytest==8.4.0
pytest-mock==3.14.1
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
PyYAML==6.0.2
requests==2.32.4
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scikit-learn==1.7.0
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp313-cp313-linux_x86_64.whl#sha256=ef0f7946c766acf9935b91f06cb7735ddb4890c85109a813e5ea260749c68c5c
sentry-sdk==2.29.1
setproctitle==1.3.6
setuptools==72.1.0
sip @ file:///croot/sip_1738856193618/work
six @ file:///croot/six_1744271502820/work
smmap==5.0.2
soupsieve==2.7
sympy @ file:///croot/sympy_1738108488918/work
tensorly==0.9.0
tensorly-torch==0.5.0
threadpoolctl==3.6.0
torch @ file:///croot/libtorch_1746637505019/work
torch_harmonics==0.7.3
torchdiffeq @ file:///home/conda/feedstock_root/build_artifacts/torchdiffeq_1622726352491/work
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.4.0
wadler_lindig==0.1.6
wandb==0.20.1
wheel==0.45.1
wrapt @ file:///croot/wrapt_1736540904746/work
zarr==3.0.8
zipp @ file:///croot/zipp_1732630741423/work
